-r requirements.txt
ast_serialize==0.6.0
django-stubs==6.0.7
django-stubs-ext==6.0.7
grimp==3.15
import-linter==2.13
librt==0.13.0
markdown-it-py==4.2.0
mdurl==0.1.2
mypy==2.3.0
mypy_extensions==1.1.0
pathspec==1.1.1
Pygments==2.20.0
rich==15.0.0
ruff==0.16.0
types-PyYAML==6.0.12.20260724
types-reportlab==4.5.1.20260724